@model IEnumerable<BB2020MVC.Models.RaceNames>

@{
    ViewBag.Title = "Index";
}

<h2>All Races</h2>

<p>
    @Html.ActionLink("New Race", "AddRace")
</p>
<hr/>
<table class="table">
    <tr>
        <th>Name</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.Name</td>
        <td>
            @Html.ActionLink("View", "ViewRace", new { ID = item.ID}) |
            @Html.ActionLink("Delete", "DeleteRace", new { ID = item.ID})
        </td>
    </tr>
}

</table>
<br/>
<hr />
<p>
    @Html.ActionLink("New Race", "AddRace")
</p>
