
@model IEnumerable<BB2020MVC.Models.RaceNames>
@{ ViewBag.Title = "All Races"; }

<div><h2>All Races</h2></div>


<br />
<div id="Races">
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Name</th>
            <th>Functions</th>
        </tr>
        @foreach (var Race in Model)
        {
            int RaceID = Race.ID;
            <tr>
                <td>@Race.Name</td>
                <td>
                    @Html.ActionLink("Edit Race Statistics", "EditRace", new { ID = RaceID })<br />
                    @Html.ActionLink("View Race Statistics and Players", "ViewRace", new { ID = RaceID })<br />
                    @Html.ActionLink("Delete Race", "DeleteRace", new { ID = RaceID })
                </td>
            </tr>
        }
    </table>
</div>
<br />
<br />
<div id="AdditionalFunctions">
    <h2>Additonal Functions</h2>
    @Html.ActionLink("Add New Race", "AddRace")<br />
    @Html.ActionLink("View Rosters", "ViewRosters", "Rosters")
</div>