@model BB2020MVC.Models.BaseRaceStruct

@{
    ViewBag.Title = "View " + Model.Name;
}

<h2>@Model.Name</h2>

<div>
    <table class=" table table-active table-responsive">
        <tr>
            <th>Player Type</th>
            <th>MaxQTY</th>
            <th>MA</th>
            <th>ST</th>
            <th>AG</th>
            <th>PA</th>
            <th>AV</th>
            <th>Skills</th>
            <th>Cost</th>
            <th>Single</th>
            <th>Double</th>

            <th>Functions</th>
        </tr>
        @foreach (var item in Model.Team)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.MaxQTY</td>
                <td>@item.MA</td>
                <td>@item.ST</td>
                <td>@(item.AG+ "+") </td>
                <td>
                @(item.PA == -1? "-": item.PA+"+")
                </td>
                <td>@(item.AV + "+")</td>
                <td>
                    @foreach(var Skill in item.PlayerSkills)
                    {
                        foreach(var RSkill in ViewBag.AllSkills)
                        {
                            if(Skill.SkillID == RSkill.SkillID)
                            {
                                @(RSkill.Name + ", ")
                            }
                        }
                    }
                </td>
                <td>@item.Cost</td>
                <td>
                    @foreach(var Single in item.SingleSkillTypes)
                    {
                        @Single.SkillTypeName
                    }
                </td>
                <td>
                    @foreach(var Double in item.DoubleSkillTypes)
                    {
                        @Double.SkillTypeName
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit Player", "EditPlayer", new {ID = item.ID })<br/>
                    @Html.ActionLink("Delete Player", "BDeletePlayer", new { ID = item.ID})<br/>
                    @Html.ActionLink("Edit Skill Types", "SkillTypesIndex", new { ID = item.ID})<br/>
                    @Html.ActionLink("Edit Skills", "SkillIndex", new { ID = item.ID })
                </td>
            </tr>
        }
        <tr>
            <th>Reroll Cost</th>
            <td>@Model.RerollCost</td>
        </tr>
        <tr>
            <th>Special Rules</th>
            <td>
                @foreach (var SR in Model.SpecialRules)
                {
                    if (SR.SRID != 0)
                    {
                        @(SR.Name +", ");
                    }

                }
            </td>
        </tr>
        <tr>
            <th>Apothecary?</th>
            <td>
                @(Model.Apoth? "Yes": "No")
            </td>
        </tr>
        <tr>
            <th>Tier</th>
            <td>@Model.Tier</td>
        </tr>
        
    </table>
</div>

<div>
    <hr />
    @Html.ActionLink("Delete Race", "DeleteRace", new { ID = Model.ID }) &nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Edit Race Statistic Line", "EditRace", new { ID = Model.ID }) &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Edit Special Rules", "BEditSpecialRules", new { ID = Model.ID }) &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Add Player", "AddPlayer", new { ID = Model.ID })
    <br />
    @if (!ViewBag.MinLimit)
    {
        @Html.ActionLink("Previous Race", "PrevRace", new { ID = Model.ID })
    }
    &nbsp;&nbsp;&nbsp;&nbsp;
    @if (!ViewBag.MinLimit && !ViewBag.MaxLimit)
    {
        @("|")
    }
    @if (!ViewBag.MaxLimit)
    {
        @Html.ActionLink("Next Race", "NextRace", new { ID = Model.ID })
    }
    &nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Back to Index", "Index")
</div>
