@model BB2020MVC.Models.BaseRaceStruct

@{ 
    ViewBag.Title = Model.Name;
}
    <div><h2>@Model.Name</h2></div>


    <br />
    <div id="Players">
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Type</th>
                <th>MA</th>
                <th>ST</th>
                <th>AG</th>
                <th>PA</th>
                <th>AV</th>
                <th>Skills</th>
                <th>Cost</th>
                <th>Functions</th>
            </tr>
            @foreach (var Player in Model.Team)
            {
                <tr>
                    <td>
                        @Player.Name
                    </td>
                    <td>@Player.MA</td>
                    <td>@Player.ST</td>
                    <td>@(Player.AG + "+")</td>
                    
                    
                    <td>
                        @if (Player.PA == 7 || Player.PA == null)
                        {
                            @("-")
                        }
                        else
                        {
                            @(Player.PA + "+") 

                        }
                    </td>
                    <td>@Player.AV</td>
                    <td>

                        @foreach (var PlayerSkill in Player.PlayerSkills)
                        {
                            foreach(var Skills in ViewBag.SkillsList)
                            {
                                if(Skills.ID == PlayerSkill.SkillID)
                                {
                                    @Skills.Name;
                                }
                            }
                                
                        }
                        

                    </td>
                    <td>@Player.Cost</td>
                    <td>
                        @Html.ActionLink("Edit Player", actionName: "EditPlayer", routeValues: new { ID = Player.ID }) <br/>
                        @Html.ActionLink("Delete Player", actionName: "DeletePlayer", routeValues: new { ID = Player.ID })<br/>
                        @Html.ActionLink("Add Skill", actionName: "AddSkill", routeValues: new { ID = Player.ID })<br/>
                        @Html.ActionLink("Delete Skill", actionName: "SelectDeleteSkill", routeValues: new { ID = Player.ID })
                    </td>
                </tr>
            }

        </table>
        <table class="table table-bordered">
            <tr>
                <th>Reroll Cost</th>
                <td>@Model.RerollCost</td></tr>
            <tr>
                <th>Apothecary</th>
                <td>@(Model.Apoth?"Yes":"No")
                </td>
            </tr>
            <tr>
                <th>Special Rules</th>
                <td>
                    

                        @foreach (var SpecialRule in Model.SpecialRules)
                        {
                            if(SpecialRule.ID != 19)
                            {
                                @(SpecialRule.Name + " | ")
                            }
                        }
                        
                    
                </td>
                
            </tr>
        </table>
    </div>
    <br /><br />
          <div id="AdditionalFunctions">
              <h2>Additonal Functions</h2>


              <table class=" table table-borderless table-responsive table-hover">
                  <tr>
                      <td>
                          @Html.ActionLink("To Race List", "Index")

                      </td>


                      @if (!ViewBag.MaxLimit)
                      {
                          <td>@Html.ActionLink("Next Race", "NextRace", new { ID = Model.ID })</td>
                      }

                      @if (!ViewBag.MinLimit)
                      {
                          <td>
                              @Html.ActionLink("Previous Race", "PrevRace", new { ID = Model.ID })
                          </td>
                      }

                      <td>@Html.ActionLink("Add Player", "AddPlayer", new { IRaceID = Model.ID })</td>
                      <td>
                          @Html.ActionLink("Edit this Race", "EditRace", new { ID = Model.ID })
                      </td>
                      <td>
                          @Html.ActionLink("Delete this race", "DeleteRace", new { ID = Model.ID })
                      </td>

                      <td>
                          @Html.ActionLink("View Rosters of this Type", "ViewRosters", new { ID = Model.ID })
                      </td>
                  </tr>

              </table>
          </div>
