@model IEnumerable<BB2020MVC.Models.Rules_Skills_Types>

<p>
    @Html.ActionLink("Create New", "AddSkillType")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>Description</th>
        <th>
            Functions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditSkillType", new { id = item.STypeID }) <br />
                @Html.ActionLink("Delete", "DeleteSkillType", new { id = item.STypeID })
            </td>



        </tr>
    }

</table>
@Html.ActionLink("Create New", "AddSkillType")<br/>
@Html.ActionLink("Back To Landing", actionName: "Index", controllerName: "BaseRules")