@model IEnumerable<BB2020MVC.Models.Rules_SpecialRules>

@{
    ViewBag.Title = "All Special Rules";
}

<h2>All Special Rules</h2>

<p>
    @Html.ActionLink("Create New", "AddSpecialRule")
</p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Functions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.Name </td>
        <td>@item.Description</td>
        <td>
            @Html.ActionLink("Edit Special Rule", "EditSpecialRule", new { id = item.SRID}) <br/>
            @Html.ActionLink("Delete Special Rule", "DeleteSpecialRule", new { id = item.SRID })
            
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Create New", "AddSpecialRule")<br/>
    @Html.ActionLink("Back to Landing", "Index")
</p>
