
@{
    ViewBag.Title = "BB2020 Data Repository";
}

<h2>BB2020 Data Repository</h2>

Hey there, this application is part of a portfolio of work by the programmer, it uses MVC, C# and Cshtml.
<br /> Just use the navbar above to navigate through the application, or follow the below links.

<ul>
    <li>@Html.ActionLink("Base Teams", "Index", "BaseTeams")</li>
    <li>@Html.ActionLink("Rules", "Index", "BaseRules")</li>
    <li>@Html.ActionLink("Rosters", "Index", "Rosters")</li>
    @*<li>@Html.ActionLink("About", "About", "Main")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Main")</li>*@
</ul>